*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

body {
    height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(#111, #222);
    width: 100%;
    position: relative;
}

body::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #777;
    position: absolute;
    z-index: -1;
    clip-path: circle(40% at right 70%);
}

.container {
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
    border-radius: 23px;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

nav .logo {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: bold;
}

nav ul li {
    display: inline-block;
    margin: 0 18px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #777;
}

.container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}

.container .content .text {
    color: #fff;
    width: 40%;
}

.container .content .text h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.container .content .text p {
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0;
    letter-spacing: 1px;
}

.container .content .image {
    width: 40%;
}

.container .content .image img {
    width: 400px;
}

@media (min-width: 950px) and (max-width: 1150px) {
    .container .content .image img {
        width: 300px;
    }
}

@media (max-width: 950px) {

    .container .content,
    nav {
        flex-direction: column;
        justify-content: center;
    }

    .container .content .image,
    .container .content .text {
        width: 100%;
    }

    nav ul li {
        margin: 0 3px;
    }

    body::after {
        clip-path: circle(30% at bottom);
    }
}

@media (max-width: 372px) {
    nav ul li a {
        font-size: 15px;
    }
}
